.widget {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  border-radius: 10px;
  margin-bottom: 20px;
}
.widget__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget__header > h4 {
  margin: 0;
  color: #333;
  cursor: pointer;
}
.widget__header > svg {
  font-size: 18px;
}
.widget__body {
  margin-top: 10px;
}
.widget__options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget__options li {
  margin-bottom: 10px;
}
.widget__options h4 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}
.widget__options h4:hover {
  color: rgb(22, 22, 199);
}
.widget__options p {
  margin: 0;
  font-size: 12px;
  color: #959595;
}
.widget__top {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
.widget__bottom {
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 60px;
}
